@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Shadows+Into+Light&display=swap');

.headerCont {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16vh;
    background-color: black;
}

.tittle {
    color: white;
    font-family: 'Shadows Into Light';
    font-size: 50px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .headerCont {
        max-height: 16vw;
    }

    .tittle {
        font-size: 24px;
    }

    .navList {
        margin: 2px;
    }
}