@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Shadows+Into+Light&display=swap');

.headerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navList {
    display: flex;
    margin-right: 30px;
}

.tittle {
    color: white;
    font-family: 'Shadows Into Light';
    font-size: 50px;
    margin-left: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.logoRedes-link {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    margin: 10px;
}

.logoRedes-link:hover {
    filter: brightness(100%);
    transition: transform 1s ease;
    transform: scale(1.2);
    box-shadow: 0 0 10px #37c23e, 0 0 20px #37c23e, 0 0 30px #37c23e;
    border-radius: 3px;
}

.logoRedes-git {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    margin: 10px;
}

.logoRedes-git:hover {
    transition: transform 1s ease;
    transform: scale(1.2);
    filter: brightness(100%);
    box-shadow: 0 0 10px #37c23e, 0 0 20px #37c23e, 0 0 30px #37c23e;
    border-radius: 30px;
}

.logoRedes-ig {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    margin: 10px;
}

.logoRedes-ig:hover {
    filter: brightness(100%);
    transition: transform 1s ease;
    transform: scale(1.2);
    box-shadow: 0 0 10px #37c23e, 0 0 20px #37c23e, 0 0 30px #37c23e;
    border-radius: 7px;
}

.logoRedes-x {
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 36px;
    margin: 10px;
}

.logoRedes-x:hover {
    filter: brightness(100%);
    transition: transform 1s ease;
    transform: scale(1.2);
    box-shadow: 0 0 10px #37c23e, 0 0 20px #37c23e, 0 0 30px #37c23e;
    border-radius: 30px;
}

hr {
    filter: brightness(100%);
    box-shadow: 0 0 10px #37c23e, 0 0 20px #37c23e, 0 0 30px #37c23e;
}